// We reuse various things from the client package for interacting with the db
import * as Client from '@teamkeel/client';
import { QueryConstraints, Query, Logger, ChainableQuery, queryResolverFromEnv } from '@teamkeel/sdk';
import * as ReturnTypes from '@teamkeel/sdk/returnTypes';
import ActionExecutor from './actionExecutor';

const qr = queryResolverFromEnv(process.env);
const parentPort = process.env.HOST_PORT!;

const queryLogger = new Logger();

const actionExecutor = new ActionExecutor({ parentPort: parseInt(parentPort, 10), host: 'localhost' });

// Actions contains all of the Keel schema actions - both built-in actions
// defined in an *operations* block and custom operations defined in a *functions*
// block.
class ActionsWithIdentity {
  private identity : Client.Identity;

  constructor(identity: Client.Identity|undefined) {
    if (identity === undefined) {
      throw new Error('Identity cannot be null in ActionsWithIdentity.');
    }

    this.identity = identity;
  }

  {{ .ActionsWithIdentity }}
}

export class Actions {
  withIdentity = (identity: Client.Identity|undefined) => {
    return new ActionsWithIdentity(identity);
  } 

  {{ .Actions }}
}

export const actions = new Actions();

{{ .TestingModelApis }}
