{
  "branches": ["main", {"name": "next", "prerelease": true}],
  "repositoryUrl": "https://github.com/teamkeel/keel",
  "debug": true,
    "dryRun": false,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/git"
  ]
}