

export interface {{ .Name }}Api {
  create: (inputs: Partial<Omit<{{ .Name }}, "id" | "createdAt" | "updatedAt">>) => Promise<{{ .Name }}>
  delete: (id: string) => Promise<boolean>
  find: (p: Partial<{{ .Name }}>) => Promise<{{ .Name }}>
  update: (id: string, inputs: Partial<Omit<{{ .Name }}, "id" | "createdAt" | "updatedAt">>) => Promise<{{ .Name }}>
  findMany: (p: Partial<{{ .Name }}>) => Promise<{{ .Name }}[]>
}
