type {{ .Name }}CallbackFunction = (inputs: {{ .Name }}Input, api: API) => Promise<boolean>

export const {{ .Name }} = (callback: {{ .Name }}CallbackFunction) => (inputs: {{ .Name }}Input, api: API) => {
  return callback(inputs, api);
};
