declare type {{ .Name }}CallbackFunction = (inputs: {{ .Name }}Input, api: API) => Promise<boolean>

export declare const {{ .Name }} : (callback: {{ .Name }}CallbackFunction) => (inputs: {{ .Name }}Input, api: API) => Promise<boolean>
