declare type {{ .Name }}ReturnType = Promise<FunctionListResponse<{{ .Model }}>>

declare type {{ .Name }}CallbackFunction = (inputs: {{ .Name }}Input, api: API) => {{ .Name }}ReturnType

export declare const {{ .Name }} : (callback: {{ .Name }}CallbackFunction) => (inputs: {{ .Name }}Input, api: API) => {{ .Name }}ReturnType
