export declare type ID = string
export declare type Timestamp = string
{{- range .Models }}
export interface {{ .Name }} {
  {{- range .Fields }}
  {{ .Name }}{{ if .IsOptional }}?{{end}}: {{ .Type }}
  {{- end }}
}
export declare type {{ .Name }}Query = {
  {{- range .Fields }}
  {{ .Name }}?: QueryConstraints.{{ .ConstraintType }}
  {{- end }}
}
export declare type {{ .Name }}UniqueFields = {
  {{- range .UniqueFields }}
  {{ .Name }}?: QueryConstraints.{{ .ConstraintType }}
  {{- end }}
}
{{- end }}
{{- range .Enums }}
export declare enum {{ .Name }} {
  {{- range .Values }}
  {{ .Label }} = "{{ .Label }}",
  {{- end }}
}
{{- end }}
{{- range .Actions }}
export interface {{ .Name }}Input {
  {{- if eq .OperationType "Update" }}
  where: {

  }

  values: {

  }
  {{- else if eq .OperationType "List" }}
  where: {

  }
  {{- else if eq .OperationType "Create" }}
  {{- range .WriteInputs }}
  {{ .Label }}{{ if .IsOptional }}?{{end}}: {{ .Type }}
  {{- end }}
  {{- else if eq .OperationType "Get" }}
  {{- range .ReadInputs }}
  {{ .Label }}{{ if .IsOptional }}?{{end}}: {{ .Type }}
  {{- end }}
  {{- else if eq .OperationType "Delete" }}
  {{- range .ReadInputs }}
  {{ .Label }}{{ if .IsOptional }}?{{end}}: {{ .Type }}
  {{- end }}
  {{- else if eq .OperationType "Authenticate" }}
  {{- range .Inputs }}
  {{ .Label }}{{ if .IsOptional }}?{{end}}: {{ .Type }}
  {{- end }}
  {{- end }}
}
{{- end }}
