name: Create Release

on:
  workflow_call:
    inputs:
      branch:
        description: "The branch to run the release on"
        required: true
        type: string
      version:
        description: "Release Version"
        required: true
        type: string
      preRelease:
        required: false
        default: false
        type: boolean
      draft:
        required: false
        default: false
        type: boolean
      makeLatest:
        required: false
        default: true
        type: boolean
      generateChangelog:
        required: false
        default: false
        type: boolean
      releaseNotesURL:
        required: false
        type: string
        default: ""
      publishEvent:
        required: false
        type: boolean
        default: false
      eventBranch:
        required: false
        type: string
        default: "main"
      commitMessage:
        required: false
        type: string
        default: ""
      homebrewRepo:
        required: false
        type: string
        default: "homebrew-keel"

permissions:
  contents: write

env:
  HOMEBREW_REPO: ${{ inputs.homebrewRepo }}

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Print homebrew repo
        run: echo "HOMEBREW_REPO=${{ env.HOMEBREW_REPO }}"

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.branch }}
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"
      - run: git fetch --force --tags

      # creating a tag so goreleaser knows what to release
      - name: Create Release Tag
        uses: rickstaa/action-create-tag@v1
        id: "tag_create"
        with:
          tag: "v${{ inputs.version }}"
          tag_exists_error: false
          message: "Keel release v${{ inputs.version }}"

      - name: Run GoReleaser
        id: goreleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: 1.13.0
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Update CHANGELOG
        id: changelog
        if: ${{ inputs.generateChangelog }}
        uses: requarks/changelog-action@v1.8.1
        with:
          token: ${{ secrets.GH_TOKEN }}
          tag: "v${{ inputs.version }}"

      # Goreleaser won't update a draft release, so you have to update the release after to tune release params
      - name: Update goreleaser release with the changelogs
        id: update_release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: "v${{ inputs.version }}"
          name: "Keel release v${{ inputs.version }}"
          draft: ${{ inputs.draft }}
          allowUpdates: true
          updateOnlyUnreleased: true
          prerelease: ${{ inputs.preRelease }}
          makeLatest: ${{ inputs.makeLatest }}
          bodyFile: ${{ inputs.releaseNotesURL }}

      - name: Create Changelog Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: "docs: update CHANGELOG.md for v${{ inputs.version }}"
          base: ${{ inputs.branch }}
          branch: update-changelog-${{ inputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}
          delete-branch: false

      - name: Fire Release Event with Changelog
        if: ${{ inputs.publishEvent && inputs.generateChangelog }}
        id: release_event_changelog
        uses: peter-evans/repository-dispatch@v2.1.1
        with:
          token: ${{ secrets.PAT }}
          repository: teamkeel/backend
          event-type: "new-runtime-release"
          client-payload: '{"version": "${{ inputs.version }}", "changelog": "${{ steps.changelog.outputs.changelog }}", baseBranch: "${{ inputs.eventBranch }}", "triggeringCommitMessage": "${{ inputs.commitMessage }}"}'

      - name: Fire Release Event
        if: ${{ inputs.publishEvent && inputs.generateChangelog  ==  false }}
        id: release_event
        uses: peter-evans/repository-dispatch@v2.1.1
        with:
          token: ${{ secrets.PAT }}
          repository: teamkeel/backend
          event-type: "new-runtime-release"
          client-payload: '{"version": "${{ inputs.version }}", baseBranch: "${{ inputs.eventBranch }}", "triggeringCommitMessage": "${{ inputs.commitMessage }}"}'
