name: Lint JS packages
on: [ pull_request ]

jobs:
  lint-packages:
    name: Lint Packages
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2
      - name: Run Prettier
        uses: actionsx/prettier@v2
        working-directory: packages
        with:
          args: --check .

  lint-integration:
    name: Lint Integration
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2
      - name: Run Prettier
        uses: actionsx/prettier@v2
        working-directory: integration
        with:
          args: --check .
