name: Pre-Release

on:
  push:
    branches:
      - main
    tags-ignore:
      - "*"
  workflow_dispatch:

jobs:
  setup:
    name: Generate Version
    runs-on: ubuntu-latest
    if: startsWith( github.event.head_commit.message, 'feat' ) || startsWith( github.event.head_commit.message, 'fix' ) || contains(github.event.head_commit.message, '!:') || github.event_name == 'workflow_dispatch'
    steps:
      - uses: pnpm/action-setup@v2.4.0
        with:
          version: 8.5.1

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
          fetch-depth: 0

      # generate a new version number based on semantic versioning
      - name: Generate version
        id: generate-version
        if: github.head_ref == 'main'
        uses: paulhatch/semantic-version@v5.0.3
        with:
          tag_prefix: "v"
          major_pattern: "[A-Za-z]+.*!:"
          major_regexp_flags: "g"
          minor_pattern: "^(feat|fix)(\\(.*\\))?: .*$"
          version_format: "${major}.${minor}.${patch}-prerelease${increment}"

      - name: Store release version
        if: github.head_ref == 'main'
        run: echo "new_version=${{ steps.generate-version.outputs.version }}" >> "$GITHUB_OUTPUT"

      # generate a new version number based on semantic versioning
      - name: Generate version
        id: generate-version-branch
        if: github.head_ref != 'main'
        uses: paulhatch/semantic-version@v5.0.3
        with:
          tag_prefix: "v"
          major_pattern: "[A-Za-z]+.*!:"
          major_regexp_flags: "g"
          minor_pattern: "^(feat|fix)(\\(.*\\))?: .*$"
          version_format: "${major}.${minor}.${patch}-dev${increment}"

      - name: Store release version
        if: github.head_ref != 'main'
        run: echo "new_version=${{ steps.generate-version-branch.outputs.version }}" >> "$GITHUB_ENV"

      - name: Output release version
        run: echo "NEW_VERSION=$new_version"

    outputs:
      version: $new_version

  npm_release_prerelease:
    if: github.head_ref == 'main'
    needs: [setup]
    uses: ./.github/workflows/npm_release.yml
    with:
      version: ${{ needs.setup.outputs.version }}
      publishTag: "next"
      dryRun: false
    secrets: inherit

  npm_release_dev:
    if: github.head_ref != 'main'
    needs: [setup]
    uses: ./.github/workflows/npm_release.yml
    with:
      version: ${{ needs.setup.outputs.version }}
      publishTag: "dev"
      dryRun: false
    secrets: inherit

  github_release:
    if: ${{ always() }}
    needs: [setup, npm_release_prerelease, npm_release_dev]
    uses: ./.github/workflows/github_release.yml
    with:
      branch: ${{ github.head_ref }}
      version: ${{ needs.setup.outputs.version }}
      preRelease: true
      draft: false
      makeLatest: false
      generateChangelog: true
      releaseEvent: "new-runtime-pre-release"
    secrets: inherit
